@import '../../../assets/styles/variables';

.header {
    padding: 30px 0;
    
    .title {
        font-family: $logoFont;
        color: $primary;
        text-align: center;
        font-size: $logoSize;
    }
}
