<div class="login-wrapper">
    <h1 class="title">
        Organize suas tarefas de maneira simples e rápida
    </h1>
    <form class="login-form" [formGroup]="loginForm" (submit)="login()">
        <input class="user text" type="text" formControlName="username" placeholder="Nome de usuário">
        <input class="password" type="password" formControlName="password" placeholder="Senha">
        <input *ngIf="isRegister" class="email" type="email" formControlName="email" placeholder="Seu e-mail preferido">
        <button class="submit btn large-btn" type="submit">
            {{ isRegister ? 'Criar conta' : 'Entrar' }}
        </button>
        <a class="sign-up" (click)="isRegister = !isRegister">
            {{ isRegister ? 'Me enganei! Já tenho uma conta.' : 'Quero participarr!'}}
        </a>
    </form>
</div>
