<section class="delete-wish">
    <p class="warn">
        <span class="material-symbols-outlined">
            report
        </span>
        Atenção!
    </p>
    <div class="divider"></div>
    <p class="confirm-removal">
        Parabéns pela sua conquista, estamos muito felizes e orgulhosos de você!
    </p>
    <div class="actions">
        <button class="btn cancel" mat-dialog-close>Cancelar</button>
        <button class="btn achieve" (click)="achieveWish()">Conquistar desejo</button>
    </div>
</section>
