<section class="create-edit-container">
    <h1>
        <span class="material-symbols-outlined">
            star
        </span>
        {{ createEditWishData.isEdit ? 'Editar desejo' : 'Novo desejo'}}
    </h1>
    <div class="divider"></div>
    <form [formGroup]="wishForm">
        <mat-form-field appearance="outline">
            <mat-label>Qual é o seu desejo?</mat-label>
            <input formControlName="wish" matInput type="text" required>
            <mat-error>A descrição do desejo é obrigatória.</mat-error>
        </mat-form-field>
        <div class="actions">
            <button class="btn cancel" mat-dialog-close>Cancelar</button>
            <button type="button" class="btn create" (click)="createEditWishData.isEdit ? editWish() : createWish()">
                {{ createEditWishData.isEdit ? 'Editar desejo' : 'Criar desejo' }}
            </button>
        </div>
    </form>
    <div class="actions">
    </div>
</section>
