<app-header
    pageTitle="Lista de desejos"
    icon="payments"
    router="/"
></app-header>
<section class="wishlist">
    <section class="achieved-wishes"></section>
    <section class="wishes">
        <header class="wishes-header">
            <h1>Desejos para realizar</h1>
        </header>
        <ul>
            <li *ngFor="let wish of wishes">
                <span class="wish">{{ wish }}</span>
                <div class="actions">
                    <span (click)="openAchieveWishModal()" class="icon material-symbols-outlined">
                        new_releases
                    </span>
                    <span (click)="openEditWishModal()" class="icon material-symbols-outlined">
                        edit
                    </span>
                    <span (click)="openRemoveWishModal()" class="icon material-symbols-outlined">
                        remove
                    </span>
                </div>
            </li>
        </ul>
        <button class="add-wish" (click)="openNewWishModal()">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
    </section>
</section>
