@import './fonts/potta-one';
@import './fonts/poppins';

// fonts
    $logoFont: 'Potta One';
    $textFont: 'Poppins';

    // sizes
        $logoSize: 3.345rem;
        $titleSize: 4.5rem;
        $btnSize: 3rem;
        $textSize: 2.256rem;

// colors
    $hl: #C9C3DE; // highlight
    $bg: #E9E7E0; // background
    $onbg: #3F3D56; // on background
