@import './fonts/potta-one';
@import './fonts/poppins';

// fonts
    $logoFont: 'Potta One';
    $textFont: 'Poppins';

    // sizes
        $logoSize: 3.345rem;
        $titleSize: 4rem;
        $btnSize: 3rem;
        $btnSmallSize: 2rem;
        $textSize: 2.256rem;
        $inputSize: 1.6rem;

// colors
    $primary: #3F3D56; // highlight
    $secondary: #E9E7E0;
    $bg: #E9E7E0; // background
    $warn: #FF7043;
    $danger: #D32F2F;
    $confirm: #4CAF50;
    $surf: #d3d2cc;
