@import '/src/assets/styles/variables';
@import '/src/assets/styles/utils/buttons';
@import '/src/assets/styles/utils/containers';

.home {
    .picture {
        width: 500px;
    }
}

@media screen and (max-width: 1080px) {
    .home {
        .picture {
            width: 350px;
        }
    }
}

@media screen and (max-width: 769px) {
    .home {
        flex-flow: column;

        .picture {
            margin: 30px 0 50px;
        }
    }
}

@media screen and (max-width: 470px) {
    .home {
        .picture {
            width: 280px;
        }
    }
}
